# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight MonetaryUnit Client
Exec=electrum %u
GenericName[en_US]=MUE-Electrum
GenericName=MUE-Electrum
Icon=electrum
Name[en_US]=Electrum MonetaryUnit Wallet
Name=Electrum MonetaryUnit Wallet
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/monetaryunit;
